body {
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: black;
  background-image: url(../images/stars.png);
  background-size: 30%;
  background-attachment: fixed;
  background-repeat: repeat;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.main {
  max-width: 1080px;
  margin: 0 auto;
  float: none;
}

.content {
  padding: 32px;
  max-height: 1200px;
}

.content#home {
  padding: 64px;
  width: 50%;
  height: 100vh;
  max-height: 1200px;
}

.content#home a, .content#about a {
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 32px;
  color: #999;
  -webkit-transition: color 500ms, padding-left 500ms;
  transition: color 500ms, padding-left 500ms;
}

.content#home a:hover, .content#about a:hover {
  color: white;
  padding-left: 10px;
}

.content#home #logo {
  width: 400px;
  margin-bottom: 32px;
}

.content#about {
  width: 50%;
  height: 100vh;
  max-height: 1200px;
  display: flex;
  flex-direction: column-reverse;
}

.content#about .text {
  /* position: relative; */
}

/* tablet */
@media screen and (max-width: 768px) {
  .content#home #logo {
    width: 300px;
  }
  .content#home a {
    font-size: 32px;
    margin-bottom: 16px;
  }
}

/* mobile */
@media screen and (max-width: 425px) {
  .content#home {
    width: 100%;
  }
  .content#home #logo {
    width: 100%;
  }
  .content#home a {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .content#about {
    width: 100%;
  }
  .content#about .text {
    position: absolute;
    width: 100vw;
    padding: 32px 32px 0 32px;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
  }
}

/* small height */
@media screen and (max-height: 650px) {
  .content#home #logo {
    width: 300px;
  }
  .content#home a {
    font-size: 32px;
    margin-bottom: 16px;
  }
}
