.content-grid-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.grid-cell {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.grid-text h2 {
  margin-bottom: 8px;
}

.grid-text p {
  margin-bottom: 0px;
  color: #DDD;
}

.grid-text a {
  color: white;
}

.grid-thumbnail-container {
  height: 400px;
  border: 8px solid white;
  border-radius: 0.3rem;
  background: white;
  overflow: hidden;
}

.grid-thumbnail {
  height: 100%;
  background: white;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-thumbnail img.fluid {
  margin: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.grid-thumbnail img.fitted {
  height: 250px;
  margin: 0;
}

.grid-link {
  margin-bottom: 16px;
}

@media screen and (max-width: 500px) {
  .grid-thumbnail-container {
    height: 300px;
  }
  .grid-thumbnail img.fitted {
    height: 187.5px;
  }
}
