.skills-container {
  display: flex;
  width: 100%;
  background: white;
  border-radius: 0.3rem;
}
.skill-cell {
  /* width: 200px; */
  color: black;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  padding: 32px;
  border-left: 0.1px solid #999;
}

.skill-cell#first {
  border-left: 0;
}

.content#skills h2 {
  margin-bottom: 16px;
}

.skill-cell h3 {

  margin-bottom: 8px;
}

.skill-cell h4 {
  color: #2720b3;
  margin-bottom: 8px;
}

.skill-cell ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skill-cell li {
  margin-bottom: 4px;
}

.skill-cell svg {
  margin-bottom: 32px;
  width: 100%;
}

.skill-cell svg path {
  /* fill: #2720b3; */
  fill: transparent;
  stroke: #2720b3;
  stroke-width: 50;
}

.skill-cell svg#one path {
  stroke-dasharray: 8304.8681640625;
  stroke-dashoffset: 8304.8681640625;
  transition: stroke-dashoffset 10s linear,
  fill 1s ease 4.5s,
  stroke-width 1s ease 4.5s;
}

.skill-cell svg#two path {
  stroke-dasharray: 8675.5478515625;
  stroke-dashoffset: 8675.5478515625;
  transition: stroke-dashoffset 14s linear,
  fill 1s ease 4.5s,
  stroke-width 1s ease 4.5s;
}

.skill-cell svg#three path {
  stroke-dasharray: 5346.419921875;
  stroke-dashoffset: 5346.419921875;
  transition: stroke-dashoffset 4.5s linear,
  fill 1s ease 4.5s,
  stroke-width 1s ease 4.5s;
}
