.skills-container {
  display: flex;
  width: 100%;
  background: white;
  border-radius: 0.3rem;
}
.skill-cell {
  /* width: 200px; */
  color: black;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  padding: 32px;
  border-left: 0.1px solid #999;
}

.skill-cell#first {
  border-left: 0;
}

.content#skills h2 {
  margin-bottom: 16px;
}

.skill-cell h3 {

  margin-bottom: 8px;
}

.skill-cell h4 {
  color: #2720b3;
  margin-bottom: 8px;
}

.skill-cell ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skill-cell li {
  margin-bottom: 4px;
}

.skill-cell svg {
  margin-bottom: 32px;
}

.skill-cell svg path {
  /* fill: #2720b3; */
  fill: none;
  stroke: #2720b3;
  stroke-width: 60;
  transition: all 4s;
}

.skill-cell svg#one path {
  stroke-dasharray: 14002.498046875;
  stroke-dashoffset: 14002.498046875;
}

.skill-cell svg#two path {
  stroke-dasharray: 8675.5478515625;
  stroke-dashoffset: 8675.5478515625;
}

.skill-cell svg#three path {
  stroke-dasharray: 9895.447265625;
  stroke-dashoffset: 9895.447265625;
}
